<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/remake main.css">
</head>
<body>
    <main>
        <section class="main_img_wrap">
            <article class="main_img">
                
                <h1>
                    단순한 스트리트마켓이 아니다!<br>
                    글로벌하게 먹고, 마시고, 즐길 수 있는 <em>대한민국 No.1 야시장</em>
                    <span>"서문시장야시장"</span>
                    <p>Sun~Thu 19:00 ~ 22:00</p>
                    <p>Fri~Sat 19:00 ~ 23:00</p>
                </h1>
            </article>
            <div class="sns">
                <ul>
                    <li><a href="">
                        <img src="img/124010.png">
                    </a></li>
                    <li><a href="">
                        <img src="img/unnamed-02.png">
                    </a></li>
                    <li><a href="">
                        <img src="img/200214.png"> 
                    </a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="event">
                <div>
                    <a href="">
                        <img src="img/img_smart123.jpg">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="img/img_tour123.jpg">
                    </a>
                </div>
            </div>
        </section>
        <section class="gallery_wrap w100">
            <h3>생생 야시장 갤러리</h3>
            <article class="gallery">
                <a href="">
                    <div>
                        <img src="img/22160A4D581C01E52C.jpg">
                    </div>
                    <div>
                        <img src="img/2374933857AAA68A11.jpg">
                    </div>
                    <div>
                        <img src="img/2376B64E5838F15A15.jpg">
                    </div>
                    <div>
                        <img src="img/art_1474767800.jpg">
                    </div>
                    <div>
                        <img src="img/ya54852_01_1490267119.jpg">
                    </div>
                    <div>
                        <img src="img/ya44773_01_1609722489.jpg">
                    </div>
                    <div>
                        <img src="img/다운로드.jpg">
                    </div>
                    <div>
                        <img src="img/1251581).jpg">
                    </div>
                    <div>
                        <img src="img/thumb_b_2018_02_17.jpg">
                    </div>
                    <div>
                        <img src="img/faghsegx).jpg">
                    </div>
                </a>
            </article>
            <a class="more" href="">
                <h4>야시장 살펴보러가기</h4>
            </a>
        </section>
        <section class="guide_wrap">
            <h3>서문시장 야시장과 함께하는 夜한 대구여행</h3>
            <ul class="guide">
                <li><a href="">
                    <img src="img/63321.jpg">
                </a></li>
                <li><a href="">
                    <img src="img/163026.jpg">
                </a></li>
                <li><a href="">
                    <img src="img/163119.jpg">
                </a></li>
                <li><a href="">
                    <img src="img/163150.jpg">
                </a></li>
            </ul>
        </section>
        <section class="review_wrap">
            <h4><img src="img/logo_nw.gif"></h4>
            <article class="review">
                <div>
                    <figure>
                        <a href="">
                            <img src="img/c6.jpg">
                            <figcaption>완성된 분짜는 고명까지 올려서 푸짐하게 

                                한끼로 만들어주셨는데요
                                
                                 대구의 어떠한 베트남 요리 전문점보다도
                                
                                 더욱 입맛에 잘 맞은 분짜 소스의 느낌은
                                
                                 한국인의 입맛과 취향에도 잘 맞춘 듯!
                                
                                만족스러운 맛 이였고 쌀국수 특유 냄새가 
                                
                                나지 않아서 더욱 맛있게 먹었답니다
                                [출처] 서문시장 야시장 베스트 6 여기야!|작성자 윤이</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c5(1).jpg">
                            <figcaption> 타코야끼달인┃대구 서문시장 야시장에서 유명한 타코야끼 맛집┃Takoyaki ( Octopus balls ) -Korean street food
                                <br>
                                💬 상호명( Store name )
                                    : 타코야끼┃Takoyaki ( Octopus balls )
                                    💛대구 서문시장 야시장 영업시간 💛
                                     -정기휴무 : 매주 월요일
                                     -일,화,수,목, (19:00~22:30) 금,토 (19:00~23:30)
                                <br>
                                💲  가격(Price)   
                                  🔗타코야끼┃Takoyaki ( Octopus balls )
                                    : 6P KRW 4,000 / USD 3.57
                                    : 9P KRW 5,000 / USD 4.46</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c2.jpg">       
                            <figcaption>야시장 단골메뉴인 큐브 스테이크. 즉석에서 철판에 구워주는 스테이크입니다! 질기지 않고 부드러운데다 한입에 쏙쏙 먹기 좋은 크기라 편리해요. 파프리카와 양파, 아삭한 숙주 등의 다채로운 구성에 양도 푸짐합니다. 기본 큐브 스테이크의 가격은 5,000원이에요.</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c3.jpg">
                            <figcaption>  쉬림프 박스도 맛있지만, 함께 판매하고 있는 요 "도도 감자"는 더욱 큰 인기를 자랑합니다! 으깬 감자에 계란과 햄, 파인애플, 마카로니, 옥수수와 바게트가 올라가는데요. 으깬 감자에 다양한 재료를 얹은 후, 진득하게 녹인 치즈를 듬뿍 부어준답니다. 4,000원의 행복이죠!</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c7.jpg">
                            <figcaption>한판에 30인분을 구울 수 있는 초대형 그릴에

                                막창굽기 달인이신듯 재빠르게 골고루 굽기
                                
                                능력을 탑채하신 사장님 덕분에 불쇼도 제대로
                                
                                감상해보았던 날 이였답니다 
                                
                                ​
                                
                                막창의 특성상 미리 구워서 준비를 하게 되면
                                
                                 딱딱해서 식감이 살지 못하기 때문에 호랑이
                                
                                 막창의 사장님께서는 손님들에게 맛있는 식감
                                
                                까지 더하기 위해서 30인분씩 즉석으로 막창 
                                
                                불쇼를 펼쳐주셨어요 한판 구워놓으면 순식간에
                                
                                팔릴 정도이니 그인기가 어는 정도인지 아시겠죠
                                
                                ​
                                
                                한참을 기다린듯 했는데도 저희앞에서 막창이
                                
                                 뚝 끊겨버리는 바람에 막창 퐈이어 구경모드
                                [출처] 서문시장 야시장 베스트 6 여기야!|작성자 윤이</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c4.jpg">
                            <figcaption>  화려한 불쇼를 선보이는 또 다른 점포! 100% 숯불에 굽는 직화구이 육포를 판매하는 <포대장육포>입니다. 고기는 역시 숯불이죠. 백화점에서 자주 만날 수 있는 유명 육포 전문점의 것과 비슷해요. 줄 서며 심심한 입을 달래기에 안성맞춤!</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/maxresdefault.jpg">
                            <figcaption>Top 7, 대구 서문시장, 서문야시장, 칠성야시장 맛집, 천원 호떡, 닭강정, 순대, 떡볶이, Top 7, The Best Food in Daegu Night market, Korean street food
                                안녕하세요. Tasty Travel입니다. 오늘은 대구 서문시장, 서문야시장, 칠성야시장 맛집인 천원 호떡, 오사카 오코노미야끼 캬베츠야끼, 찹쌀 닭강정, 키조개 치즈구이, 삼겹살 김밥, 암뽕 순대, 쌀떡볶이, 밀떡볶이 등 7곳을 소개합니다. 
                                Hello. I am Tasty Travel. Today, I introduce 7 of the best street food in Daegu Night market, Traditional Market, such as $1 Hotteok Pancake Master, Osaka Okonomiyaki Kyabetsuyaki, Glutinous rice Sweet fried chicken, Grilled Pen Shell with Cheese, Grilled Pork belly Rice Roll, Korean sausage Sundae, Rice Cake Tteokbokki.</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c8jpg.jpg">
                            <figcaption>플레이팅만큼이나 맛도 만족스러웠던

                                홍콩에그와플은 다가오는 여름날에는
                                
                                엄청난줄이 예상될 맛집인듯!
                                
                                ​
                                
                                서문시장 야시장에 방문하셔서 마지막
                                
                                디저트로 꼭 곁들여보시길 추천드려볼께요
                                [출처] 서문시장 야시장 베스트 6 여기야!|작성자 윤이</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <img src="img/c9.jpg">
                            <figcaption>포장마차에 빗소리 들으면서 이색 데이트를

                                즐기고 맛보고 있으니 더욱 신난 부부였는데요
                                
                                음식도 넘넘 만족스럽고 특히나 초밥집의 
                                
                                퀄리티는 값비싼 어느 초밥보다도 뒤지지 않을
                                
                                정도로 맛으로 승부를 한다고 생각해도 될 
                                
                                정도로 괜찮았던 것 같아요
                                
                                ​
                                
                                신랑은 여태껏 먹었던 연어 중 제일 맛이
                                
                                좋다고 하는걸보니신선도는 물론이고
                                
                                 맛까지 보장된 곳 이니까 야시장을 방문
                                
                                하실때 꼭 한번쯤 드셔보시면 좋으실 것 같아요 
                                
                                ​
                                
                                내심 좋아하는 광어초밥을 못 먹어서
                                
                                조금 아쉽긴 했지만 다음에도 야시장을
                                
                                방문한다면 100% 재방문 할 맛집인듯!
                                [출처] 서문시장 야시장 베스트 6 여기야!|작성자 윤이</figcaption>
                            <div class="review_more">more></div>
                        </a>
                    </figure>
                </div>
            </article>
            <div>
                <a class="left" href=""></a>
            </div>
            <div>
                <a  class="right" href=""></a>
            </div>
        </section>
        <section>
            <div class="bnr">
                <div>
                    <a href=""><img src="img/img_join_shop22.jpg"></a>
                </div>
                <div>
                    <a href=""><img src="img/img_free_seller123.jpg"></a>
                </div>
            </div>
        </section>