<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>새 메모</h1>
    <% if(typeof errs !== "undefined") { %>
        <% errs.forEach((err)=>{%>
            <h3><%=err.param%> : <%=err.msg%></h3>
        <% }) %>
    <% } %>
    <form method="POST" action="/store">
        <textarea name="content"></textarea>
        <input type="submit" value="submit">
        <input type="button" value="back" onclick="javascript:location.href='/'">
    </form>
</body>
</html>