h1{
    width: 1360px;
    margin: auto;
    font-size: 50px;
    padding: 50px 0;
    border-bottom: 1px solid #f0f0f0;
    font-weight: bold;
    color: #000;
}

h1>em{
    display: block;
    font-size: 16px;
    color: #ababab;
    margin-top: 60px;
}



.notice_txt{
    margin-bottom: 200px;
}

.notice_txt>div{
    width: 1000px;
    margin: auto;
}
.notice_txt>div>p{
    display: block;
    font-size: 20px;
    margin-top: 50px;
}
.notice_txt>div>span{
    padding-top: 100px;
    display: block;
}
.notice_txt>div em{
    font-size: 20px;
    font-weight: 400;
}

.btn_list{
    width: 100%;
    text-align: center;
}
.btn_list>a>div{
    width: 210px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 35px;
    height: 56px;
    line-height: 54px;
    border-radius: 56px;
    font-size: 18px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 200px;
}











@media only screen and (max-width: 1360px){
    h1{
        width: 100%;
        font-size: 25px;
        padding: 25px 50px 0;
    }
    h1>em{
        font-size: 13px;
        margin: 10px 0;
    }
    .notice_txt>div{
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
    }
}