
        <article class="join">
            <div>
                <p>아이디</p>
                <input type="text" placeholder="이메일 입력">
            </div>
            <div>
                <p>비밀번호</p>
                <input type="password">
            </div>
            <div>
                <p>비밀번호 확인</p>
                <input type="password">
            </div>
            <div>
                <p>이름</p>
                <input type="text">
            </div>
            <div>
                <p>생년월일</p>
                <input type="text" placeholder="6자리숫자입력">
            </div>
            <div>
                <p>휴대번호</p>
                <div class="in">
                    <span>010</span>
                    <input type="number" placeholder="'ㅡ'없이숫자만입력">
                </div>
            </div>
            <div>
                <p>사업자 등록번호</p>
                <input type="text">
            </div>
            <a href="">가입 신청</a>
        </article>
