<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/join.css">
</head>
<body>
    <header>
        <h1><a href=""><img src="img/login_logo.jpg"></a></h1>
    </header>
    <main>
        <article class="join">
            <div>
                <p>아이디</p>
                <input type="text" placeholder="이메일 입력">
            </div>
            <div>
                <p>비밀번호</p>
                <input type="password">
            </div>
            <div>
                <p>비밀번호 확인</p>
                <input type="password">
            </div>
            <div>
                <p>이름</p>
                <input type="text">
            </div>
            <div>
                <p>생년월일</p>
                <input type="text" placeholder="6자리숫자입력">
            </div>
            <div>
                <p>휴대번호</p>
                <div class="in">
                    <span>010</span>
                    <input type="number" placeholder="'ㅡ'없이숫자만입력">
                </div>
            </div>
            <div>
                <p>사업자 등록번호</p>
                <input type="text">
            </div>
            <a href="">가입 신청</a>
        </article>
    </main>
    <footer>
        <article class="f_bottom">
            <div class="f_text">
            <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀 <span>Admin</span><br>
                Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </div>
        </article>
    </footer>
</body>
</html>