<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/remakeinfo.css">
    <link rel="stylesheet" type="text/css" href="/css/remakemain.css">
    <link rel="stylesheet" type="text/css" href="/css/remakenotice.css">
    <link rel="stylesheet" type="text/css" href="/css/notice_list.css">
    <link rel="stylesheet" type="text/css" href="/css/notice.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="./js/join.js"></script>
</head>
<body>
    <header>
        <div class="login" id="login"><a onclick="javascript:kakaoLogin();">로그인</a></div>
        <div class="login" id="uesr"></div>
        <div class="login" id="logout" onclick="javascript:kakaoLogout();"><a href="">로그아웃</a></div>
        <ul>
            <li class="head_logo"><a href="main"><img src="/img/Untitled-3.png"></a></li>
            <li><a href="info">야시장소개</a></li>
            <li><a href="#">먹거리살거리</a></li>
            <li><a href="#">서문거리예술문화</a></li>
            <li><a href="/noti">참여마당</a></li>
            <li><a href="#">입점신청</a></li>
            <a href="">
                <span class="header_menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </span>
            </a>
        </ul>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <article class="f_top">
            <img src="/img/footer_banner01 (1).jpg">
            <img src="/img/footer_banner02.jpg">
            <img src="/img/footer_banner04 (1).jpg">
            <img src="/img/footer_banner03 (1).jpg">
            <img src="/img/footer_banner05 (1).jpg">
        </article>
        <article class="f_bottom">
            <div class="f_text">
            <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀 <span>Admin</span><br>
                Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </div>
        </article>
    </footer>
    </body>
    </html>