
        <article>
            <div>
                <div><a href="">식품셀러 로그인</a></div>
                <div><a href="">프리셀러 로그인</a></div>
                <div><a href="">일반 로그인</a></div>
            </div>
            <input type="text" placeholder="아이디">
            <input type="password" placeholder="비밀번호">
            <a href="">로그인</a>
            <p>
                <a href="">아이디 찾기 |</a>
                <a href="">비밀번호 찾기 |</a>
                <a href="join">회원가입</a>
            </p>
        </article>
