<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>
        <h1><a href="main"><img src="img/login_logo.jpg"></a></h1>
    </header>
    <main>
        <article>
            <div>
                <div><a href="">식품셀러 로그인</a></div>
                <div><a href="">프리셀러 로그인</a></div>
                <div><a href="">일반 로그인</a></div>
            </div>
            <input type="text" placeholder="아이디">
            <input type="password" placeholder="비밀번호">
            <a href="">로그인</a>
            <p>
                <a href="">아이디 찾기 |</a>
                <a href="">비밀번호 찾기 |</a>
                <a href="join">회원가입</a>
            </p>
        </article>
    </main>
    <footer>
        <article class="f_bottom">
            <div class="f_text">
            <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀 <span>Admin</span><br>
                Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
            </div>
        </article>
    </footer>
</body>
</html>