
 <section>
            <div class="notice_img">
                <h2>공지사항</h2>
            </div>
        </section>
        <section class="search">
            <h3>총 <span>87</span>건</h3>
            <div>
                <div>
                    <input type="text" placeholder="검색어를 입력해주세요.">
                    <button></button>
                </div>
            </div>
        </section>
        <section class="notice">

                <% rows.forEach((row,index) => {  %>
                    <a href="/page/<%=row.id%>">
                    <dl>
                        <dt><%= row.title%></dt>
                        <dd><pre><%= row.content%></pre></dd>
                        <p><%= row.createtime%></p>
                        <span>+</span>
                    </dl>
                </a>
                <% }) %>

        

           
        
            <!-- <input type="button" value="새 메모" onclick="javascript:location.href='/notice'"> -->
        </section>
        <section  class="more">
            <div class="btn_more">더보기 ＋</div>
            <button value="글 쓰기" onclick="javascript:location.href='/notice'">글 쓰기</button>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/notice.js"></script>