        <section>
            <div class="maim_img"></div>
        </section>
        <section class="info">
            <article>
                <a href="">
                    <div class="info_img">
                        <img src="img/6f3abffe-1c13-474c-a42c-c9a6044065cf.jpg">
                    </div>
                    <div class="info_text">
                        <h2>전 세계인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장’
                            여러분과 함께 만들어가는 <span class="big">夜한 테마파크!</span>
                        </h2>
                        <p>서문시장 야시장은 2016년 6월에 개장한,
                            총거리 350M에 달하는 대형 야시장입니다.
                            우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                            총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                            매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                            복합문화공간입니다. 특히, 먹거리 일색인 타 야시장과는 달리
                            먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                            마법같은 관광지이기도 합니다
                            밤이 즐거운 대구 야행
                            한옥 체험을 경험할 수 있는 서문한옥게스트하우스, 동성로와 인접한 교동게스트하우스
                            함께 운영합니다.</p>
                    </div>
                </a>
            </article>
        </section>
        <section class="info">
            <article>
                <a href="">
                    <div class="info_img">
                        <img src="img/article_06155533741972.jpg" alt="서문시장 소개 이미지">
                    </div>
                    <div class="info_text">
                        <h2>연중무휴로 펼쳐지는 <span class="big">Fantastic Night Party!</span>
                            야시장을 통한 성공적인 창업상단 육성!</h2>
                        <p>서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 
                            복합되어 어디에서도 찾을 수 없는 경험을 제공합니다.<br>
                            글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한
                            음식 우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가
                            즐비합니다.<br>
                            대구로 방문하신다면
                            반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.</p>
                    </div>
                </a>
            </article>
        </section>
        <section class="info">
            <article>
                <a href="">
                    <div class="info_img">
                        <img src="img/Untitled-1.jpg" alt="서문시장 찾아오는길">
                    </div>
                    <div class="info_text">
                        <h2> 대한민국 No.1 야시장 서문시장 찾아 오시는 길</h2>
                        <p>주소 : 대구 중구 큰장로26길 45<br>
                            <br>
                            주변 지하철 : 대구 3호선 서문시장역, 대구 2호선 신남역, 대구 3호선 신남역, 대구 3호선 달성공원역
                            주변 정류장 : 큰장네거리4, 동산의료원앞2, 서문시장5지구앞, 동산의료원앞1, 서문시장, 큰장네거리2
                            <br><br>
                            버스 105, 156, 242, 309, 405, 415, 623, 724, 890, 910번 이용
                            대구지하철 2호선 신남역 5번 출구
                            </p>
                    </div>
                </a>
            </article>
        </section>