
    <h1>공지 수정</h1>

    <form method="POST" action="/updateMemo/<%=row[0].id%>">
        <table>
            <tr>
                <td><label>제목 :</label></td>
                <td>
                    <textarea name="title"><%=row[0].title%></textarea>
                </td>
            </tr>
            <tr>
                <td><label>이름 :</label></td>
                <td><input name="user" type="text" id="noti_name"></td>
            </tr>
            <tr>
                <td><label>비밀번호 :</label></td>
                <td><input name="pw" type="password" id="noti_pw"></td>
            </tr>
            <tr>
                <td><label>날짜</label></td>
                <td>
                    <input name="date" type="text" placeholder="20220419" id="noti_date">*8자리숫자로 입력
                </td>
            </tr>
            <tr>
                <td>수정 내용 :</td>
                <td><textarea name="content"><%=row[0].content%></textarea></td>
            </tr>
            <tr>
                <td>첨부 :</td>
                <td><input type="button" value="첨부" id="noti_img"> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="저장">
                    <input type="button" value="돌아가기" onclick="javascript:location.href='/'">
                </td>
            </tr>

        </table>
        <input type="hidden" name="id" value="<%=row.id%>">
        <input type="submit" value="수정">
        <input type="button" value="돌아가기" onclick="javascript:location.href='/noti'">
    </form>
