header{
    width: 100%;
    background-color: #440099;
}
header>ul{
    width: 1216px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu{
    width: 48px;
    height: 48px;
}
.header_menu>div{
    width: 40px;
    height: 3px;
    background-color: white;
    margin-top: 10px;
    box-sizing: border-box;
    display: none;
}
.head_logo{
    width: 127px;
    height: 37px;
}
.head_logo>img{
    width: 100%;
    height: 100%;
}
header li{
    flex: 1;
    text-align: center;
}
header li>a{
    display: block;
    line-height: 100px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 0 10px;
}
main{
    width: 1460px;
    margin: auto;
}
.notice_img{
    background-image: url(../img/990306_268359\ 123123.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}
.notice_img>h2{
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 5px;
    position: absolute;
    left: 50px; bottom: 50px;
    text-shadow: 2px 2px 5px gray;
}
.search{
    width: 1216px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search>h3{
    font-size: 19px;
    color: #000;
    font-weight: 400;
}
.search>h3>span{
    color: #f230f2;
    font-weight: 700;
}
.search div{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #cccccc;
}
.search div>input{
    height: 40px;
    border: none;
    outline: none;
    color: #000;
    padding-left: 10px;
    border-radius: 30px;
    background-color: #cccccc;
}
.search div>button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #f230f2;
    background-image: url(../img/1093183.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.notice{
    width: 1460px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.notice>dl{
    width: calc(33.33% - 10px);
    height: 482px;
    border: 1px solid #d7d7d7;
    margin-bottom: 40px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.notice>dl:hover{
    border: 5px solid #f230f2;
    box-sizing: border-box;
}
.notice>dl dt{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    height: 80px;
    margin-bottom: 35px;

}
.notice>dl dd{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.notice>dl p{
    font-size: 13px;
    color: #ababab;
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 400;
}
.notice>dl span{
    font-size: 50px;
    color: #ababab;
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.more>div{
    width: 210px;
    height: 56px;
    font-size: 18px;
    font-weight: 400;
    line-height: 54px;
    border-radius: 56px;
    font-size: 18px;
    color: #000;
    border: 1px solid #000;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
    box-sizing: border-box;
}
.more>div:hover{
    background-color: #f230f2;;
    color: white;
    border: none;
}
.more>button{
    width: 100px;
    height: 40px;
    background-color: #440099;
    color: #f5f5f5;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}





footer{
    width: 100%;
}
.f_top{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #663399;
    padding: 20px 0;
    margin: 0 auto;
}
.f_bottom{
    border-top: 1px solid #663399;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 15px;
}
.f_text>p{
    width: 1360px;
    margin: auto;
    text-align: center;
    height: 60px;
    font-size: 13px;
    color: #444444;
}
.f_text>p>span{
    color: #cccccc;
}


























@media only screen and (max-width: 1460px){
    main{
        width: 100%;
    }
    header>ul{
        width: 100%;
    }
    .search{
        width: calc(100% - 200px)
    }
    .notice{
        width: 100%;
    }
    .f_top{
        width: 100%;
    }
    .f_text>p{
        width: 100%;
    }
}


















@media only screen and (max-width: 1200px){
    header>ul{
        width: 100%;
        position: relative;
    }
    header li{
        display: none;
    }
    .header_menu>div{
        display: block;
    }
    .header_menu{
        position: absolute;
        top: 25px;
        right: 5px;
    }
    .head_logo{
        display: block;
    }
    .head_logo>img{
        width: 127px;
        height: 37px;
        float: left;
    }
    main{
        width: 100%;
    }
    .search{
        width: 100%;
    }
    .maim_img{
        width: 100%;
    }
    .search{
        width: 100%;
        margin-top: 35px;
        flex-direction: column-reverse;
    }
    .search div{
        margin: auto;
    }
    .search>h3{
        padding-left: 30px;
        width: 100%;
        box-sizing: border-box;
    }
    .search div>input{
        width: 220px;
        height: 40px;
        border-radius: 30px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .notice{
        width: 100%;
    }
    .notice>dl{
        width: 100%;
        height: 93px;
        border: none;
        border-bottom: 1px solid #d7d7d7;
        padding: 20px 30px;
        margin: 0;
        box-sizing: border-box;
    }
    .notice>dl:first-child{
        border-top: 3px solid #d7d7d7;
    }
    .notice>dl dt{
        font-size: 16px;
    }
    .notice>dl dd{
        display: none;
    }
    .notice>dl:hover{
        border: 1px solid #d7d7d7;
    }
    .notice>dl p{
        bottom: 20px;
        left: 30px;
    }
    .more>div{
        width: calc(100% - 30px);
        margin-top: 50px;
        height: 45px;
        line-height: 45px;
        border: none;
        border-radius: 5px;
        background-color: #f6f6f6;
        font-size: 14px;
    }
    .notice>dl span{
        display: none;
    }
    








    .f_top{
        width: 100%;
        display:none;
    }
    .f_text>p{
        width: 100%;
    }


}